build/
build_debug/
build_release/
venv/
cmake-build-*/
internal_tests/*
*/__pycache__/*
*/*/__pycache__/*
clean_results.sh
load_environment.sh
doc/hdg_formulation/formulation.aux
doc/hdg_formulation/formulation.log
doc/hdg_formulation/formulation.tex.backup
.idea
*.vtk
