build/
build_debug/
build_release/
venv/
cmake-build-*/
internal_tests/*
*/__pycache__/*
*/*/__pycache__/*
clean_results.sh
load_environment.sh
doc/*/*.aux
doc/*/*.log
doc/*/*.pdf
doc/*/*.tex.backup
.idea
*.vtk
